# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# VS Code specific
.vscode/
.history/

# IDE and editor files
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.bak
*~

# Build artifacts
*.obfuscated.lua

# Prometheus obfuscator
Prometheus/
